@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --purple: #A26DFF;
  --primary: #a26dff;
  --white: #f0f0f0;
  --white-2: #d4d4d4;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #edebf0;
    --foreground: #D4D4D4;
  }
}

@keyframes rotate {
  from {
    background-position: 0% center;
  }
  to {
    background-position: 400% center;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}

/* Gradient effects */
.gradient-01 {
  position: absolute;
  width: 250px;
  height: 200px;
  right: -70px;
  top: 40%;
  background: var(--purple);
  backdrop-filter: blur(100px);
  filter: blur(130px);
  transform: rotate(-114.2deg);
  opacity: 1;
  pointer-events: none;
}

.gradient-02 {
  position: absolute;
  width: 250px;
  height: 200px;
  left: -50px;
  bottom: -150px;
  background: var(--purple);
  backdrop-filter: blur(200px);
  filter: blur(130px);
  transform: rotate(-114.2deg);
  opacity: 1;
  pointer-events: none;
}
.custom-range {
  @apply w-full appearance-none cursor-pointer; /* base styles for the <input> */
}

.custom-range::-webkit-slider-runnable-track {
  @apply h-6 bg-[#907DBD];
}

.custom-range::-webkit-slider-thumb {
  @apply w-8 h-6 bg-white rounded;
 /* so the thumb is centered on the track */
  -webkit-appearance: none;
}

.custom-range::-moz-range-track {
  @apply h-6 bg-[#907DBD];
}

.custom-range::-moz-range-thumb {
  @apply w-8 h-6 bg-white rounded;
  border: none;
}

.footer-gradient {
  background: linear-gradient(180deg, rgba(9, 5, 14, 1) 0%, rgba(74, 42, 130, 1) 100%);
}

body {
  background-color: black;
}

.footer-background {
  position: absolute;
  inset: 0;
  background: linear-gradient(180deg, rgba(9, 5, 14, 1) 0%, rgba(74, 42, 130, 1) 100%);
  pointer-events: none;
}

.footer-background-text {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(74, 42, 130, 0.3) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .footer-background-text {
    -webkit-font-smoothing: antialiased;
  }
}