@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #a26dff;
  --white: #f0f0f0;
  --white-2: #d4d4d4;
}
.gradient-01 {
  position: absolute;
  width: 250px; /* Reduce size */
  height: 200px;
  right: -70px;
  top: 40%;

  background: #a26dff;
  backdrop-filter: blur(100px); /* Reduce blur intensity */
  filter: blur(130px); /* Maintain texture */
  transform: rotate(-114.2deg);
  opacity: 1; /* Ensure full visibility */
  /* Ensures only the circular part is visible */
  pointer-events: none;
}
.gradient-02 {
  position: absolute;
  width: 250px; /* Reduce size */
  height: 200px;
  left: -50px;
  bottom: -150px;

  background: #a26dff;
  backdrop-filter: blur(200px); /* Reduce blur intensity */
  filter: blur(130px);
  transform: rotate(-114.2deg);
  opacity: 1; /* Ensure full visibility */
  /* Ensures only the circular part is visible */
  pointer-events: none;
}
