@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-01 {
  position: absolute;
  width: 350px; /* Smaller width */
  height: 250px; /* Smaller height */
  right: -200px;
  top: 30%;

  background: #a26dff;
  filter: blur(150px); /* Reduce blur */
  transform: rotate(-114.2deg);
  opacity: 0.9; /* Boost visibility */
}
.gradient-02 {
  position: absolute;
  width: 350px; /* Smaller width */
  height: 250px; /* Smaller height */
  left: -200px;
  bottom: 0;

  background: #a26dff;
  filter: blur(150px); /* Reduce blur */
  transform: rotate(-114.2deg);
  opacity: 0.9; /* Boost visibility */
}
